.layout {
    display: grid;
    grid-template-columns: 80px 1fr;
}

#app{
    display: grid;
    grid-template-columns: 300px 1fr;
}

.cars__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.car-card{
border: 2px solid lightgray;
border-radius: 30px;
display: flex;
flex-direction: column;
}

.car-card__body{
margin: 10px 20px;
display: flex;
flex-direction: row;
flex-grow: 1;

}
.car-card__title{
margin: 5px 0px;
}
.car-card__pricing{
margin-top: auto;
margin-left: auto;
    right: 5px;
}

.car-card__info{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right: auto;
}
.modal{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,.5);
}
.modal__content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 500px;
}
#btnCloseModal{

}
.hidden{
    display: none;
}



